---
layout: "layouts/default.njk"
---

<h1>hello world</h1>

<h2>Alla 5k lopp</h2>
{% set posts = collections.events | include('data.distances', '5k') %} 
<ul>
    {% for post in posts %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
</ul>

<h2>Alla 10k lopp</h2>
{% set posts = collections.events | include('data.distances', '10k') %} 
<ul>
    {% for post in posts %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
</ul>
