---
layout: "layouts/default.njk"
---

<h2>Alla distanser</h2>
{% set posts = collections.eventDistances %} 
<ul>
    {% for post in posts %}
    <li><a href="/distans/{{ post.slug }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<h2>Alla städer</h2>
{% set posts = collections.eventCities %} 
<ul>
    {% for post in posts %}
    <li><a href="/stad/{{ post.slug }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

