<!DOCTYPE html>
<html lang="{{ metadata.lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} &middot; {{ metadata.site.title }}</title>

    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <div class="site">

        <header id="masthead" class="site-header">
            <div class="wrapper width-wide">
                <div class="branding">
                    <a href="/">
                        <h1>{{ metadata.site.title }}</h1>
                        <p>{{ metadata.site.slogan }}</p>
                    </a>
                </div>
            </div>
        </header>

        <div class="site-content">
            <div class="wrapper width-content">
                {{ content | safe }}
            </div>
        </div>

        <footer class="site-footer">
            <div class="wrapper width-wide">
                <p class="copyright">&copy 2024, {{ metadata.site.title }}</p>
            </div>
        </footer>

    </div>
</body>

</html>